div#header {
    margin: auto;
}

div#searchitems {
    margin-top: 20px;
    height: 100px;
}

#logo{
    display: block;
    margin: auto;
    margin-top: 4%;
    width: 70%;
}


#questionbar {
    display: block;
    margin: auto;
    padding: 8px 16px;
    width: 400px;
    box-sizing: border-box;
}
#askbutton {
    display: block;
    position: absolute;
    width: 10%;
    text-align: center;
    margin-left: 45%;
}

#result {
    position: relative;
    display:none;
    left:200px;
}
