footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(fire.gif);
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;
}

div#heade r{
    margin: auto;
}

div#searchitems {
    margin-top: 20px;
}

#logo{
    display: block;
    margin: auto;
    margin-top: 4%;
    width: 70%;
}


#questionbar {
    display: block;
    margin: auto;
    width: 400px;
}
#askbutton {
    position:relative;
    left:200px;
}

#results {
    position: relative;
    display:none;
    left:200px;
}
